<% current_year = Time.now.year %>
<p><%= current_year %></p>
<p>Автор учебного проекта Тимур</p>
<h3><%= link_to "Github", 'https://github.com/TimDelRey/Test-guru', target: "_blank" %></h3>
<p>Вэб приложение под названием Test-guru предназначен для оценки знания пользователей в кулинарии путем прохождения тестов</p>
<p><%= link_to "Учебный проект в онлайн-школе Thinknetica", 'https://thinknetica.com/', target: "_blank" %></p>