<h1>Добро пожаловать на сайт TEST-GURU</h1>
<p class="welcome-body">Мы рады видеть вас на нашем сайте, где кулинарные знания становятся
 увлекательным приключением! Здесь вы можете проверить свои навыки и узнать
 много нового о рецептах и кулинарных техниках. <br>
 Независимо от того, являетесь ли вы опытным поваром или только начинаете свой
 путь в мире кулинарии, наши тесты помогут вам углубить свои знания и расширить
 горизонты. Пройдите наши интересные и разнообразные тесты, чтобы проверить свои
 знания, получить новые идеи для блюд и стать настоящим мастером кухни! <br>
 Начните свое кулинарное путешествие уже сейчас — выберите категорию
 тестов и погрузитесь в мир вкусных открытий!
</p>
